# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Casestudy3-web\servlet_student_web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
